*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
}
/* Shared Part */
#ekdom{
    padding-top: 120px;
    /* border: 2px solid red; */
}
.container{
    /* border: 2px solid blue; */
    width: 80%;
    margin: 0 auto;
}
.btn{
    cursor: pointer;
}
.btn:hover{
    background-color: aqua;
}
/* Main Part */
header{
    /* border: 2px solid red; */
    padding: 16px 0;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar .nav-ul{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}
.nav-ul li a{
    text-decoration: none;
    color: #000000;
    font-weight: 500px;
    font-size: 16px;
}
.btn-nav{
    padding: 12px 16px;
    background-color: #469165;
    color: #FFFFFF;
    border-radius: 5px;
}
/* nav bar shesh */

/* hero part */
#hero{
    background: url("../assets/hero-bg.png");
    height: 674px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 115px;
    text-align: center;
}
.ban-content .ban-top-btn{
    padding: 8px 12px;
    background-color: #FFFFFF;
    border-radius: 16px;
    color: #469165;
    margin-bottom: 16px;
    font-size: 16px;
}
.ban-content .ban-top-btn .fa-circle{
    font-size: 12px;
    
}
.ban-content h1{
    color: #FFFFFF;
    margin-bottom: 16px;
    font-size: 72px;
}
.ban-content p{
    color: #FFFFFF;
    margin-bottom: 32px;
}
.for-h1{
    color: #30B868;
}
.see-how-btn{
    margin-left: 5px;
    padding: 12px;
    max-width: 344px;
    border-radius: 5px;
    background-color: transparent;
    color: #FFFFFF;
}
.fa-play{
    font-size: 12px;
}
/* hero part done */

/* notes part started */
#notes{
    /* border: 2px solid red; */
    padding: 40px;
}
.notes-container{
    text-align: center;
}
.notes-container h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.notes-container p{
    color: #627382;
    line-height: 20px;
}
.notes-text{
    margin-bottom: 44px;
}
.notes-card-container{
    display: flex;
    gap: 24px;
}
.notes-card-container .notes-card{
    border: 1px solid #0000000F;
    padding: 30px 24px;
    border-radius: 8px;
    box-shadow: 10px 10px 5px lightblue;
    
}
.notes-card img{
    margin-bottom: 16px;
}
.notes-card h3{
    font-size: 24px;
    color: #001931;
    margin-bottom: 16px;
}
/* notes part shesh */

/* solution part shuru */
#solution{
    padding-top: 120px;
    /* border: 2px solid red; */
}
#solution .solution-conainer{
    display: flex;
    align-items: center;
    gap: 60px;
}
.solution-content .sol-first{
    color: #30B868;
    margin-bottom: 16px;
    line-height: 20px;
}
.solution-content h2{
    margin-bottom: 16px;
    font-size: 48px;
    color: #001931;
}
.solution-content .sol-second{
    margin-bottom: 40px;
    color: #627382;
    line-height: 20px;
}
.solution-content ul{
    list-style: none;
}
.solution-content ul li{
    margin-bottom: 16px;
    display: flex;
}
.solution-content ul li::before{
     /* content: '✓'; */
     content: url("../assets/CheckCircle.png");
     margin-right: 6px;
}
/* challenge part start */
#challenge{
    padding-top: 120px;
    text-align: center;
}
.challenge-container{
    padding: 80px 0;
    background-color: #F7F6F2;
}
.challenge-container h2{
    margin-bottom: 16px;
    font-size: 40px;
    color: #001931;
}
.challenge-container p{
    margin-bottom: 24px;
    color: #627382;
    line-height: 24px;
}
.challenge-nav{
    padding: 16px;
    background-color: #469165;
    color: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 16px;
}
/* footer starts */
footer{
    background-color:#001931 ;
    /* border: 2px solid red; */
    padding-top: 120px;
    margin-top: 120px;
    padding-bottom: 30px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    padding-right: 106px;
    margin-bottom: 80px;
}
.social-links h4{
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 16px;
    line-height: 28px;
}
.social-icons{
    display: flex;
    gap: 16px;
}
.hr-line{
    border: none;
    height: 1px;
    opacity: 20%;
    background-color: #E5E7EB;
    margin-bottom: 30px;
}
.copyright{
    text-align: center;
    color: #FAFAFA;
}